
:javascript
  current = 'analysis'
  organisms = #{@organisms.to_json}

#main
  #ad_video
    Check out the 
    %a{ :href => "#TB_inline?height=410&width=640&inlineId=index_video", :title => "Quick Start Guide! video", :class => "thickbox"} Quick Start Guide Video

    #index_video
      = partial 'partials/video'

  %form{:action => "/", :method => 'post'}
    #genes
      .textarea.parambox#up
        %h2.boxtitle Up Regulated Genes
        %textarea#ids_up{:name => :ids_up}
      .textarea.parambox#down
        %h2.boxtitle Down Regulated Genes
        %textarea#ids_down{:name => :ids_down}
      #fill
        %span Zymolyase example (yeast): 
        %a.toggle{:href => "#", :onclick => "fill_ids()"} [Load example]
        %a.toggle{:href => "Miguel_Zymolyase"} [Results]

    #parameters

      #organisms.parambox
        %h2.boxtitle Organism

        %p Please Select the organism the genes belong to
        %select#organism{:name => :organism}
          - @organisms.keys.sort{|a,b| a <=>b}.each do |org|
            - p = @organisms[org]
            %option{:value => org }= p[0]

      #platforms.parambox
        %h2.boxtitle Platform

        %p 

          Select the platform the genes belong to. The genes must be in the
          platform native format. If the Cross platform option is selected the
          genes may be in any of the suported formats, as they will be
          translated


        %select#platform{:name => :platform}
          %option#cross{:value =>'cross'} Cross platform query

      #optional.parambox
        %h2.boxtitle Job Name and E-mail (Optional)
        %p
          Select a name for your job. A random one will be assigned if left blank.
          If an E-mail is specified it will be used to notify the completion of the job.
        %input#name{ :name => :name}
        %label{:for => 'name'} Name
        %br
        %input#email{ :name => :email}
        %label{:for => 'email'} E-mail

      #submit.parambox
        %input{:type => 'submit'}

    #logos
      %hr
      %center
        %a{:href => "http://artecs.dacya.ucm.es/atc/homepage.php"}
          %img{:src => "images/logo_ARTECS.jpg"}
        %a{:href => "http://biocomp.cnb.uam.es/"}
          %img{:src => "images/logo_BCU.jpg"}
        %a{:href => "http://www.ucm.es/info/mfar/"}
          %img{:src => "images/logo_MICRO.png"}

:javascript
  
  function fill_ids(){
 
    var up = "HSP12\nYLR042C\nRFX1\nYPL088W\nYHL010C\nYHR087W\nCRG1\nDAL7\nHAL1\nSRL3\nGPD1\nPRM5\nPRM10\nPST1\nFMP33\nYLR194C\nCTT1\nSLT2\nYLR040C\nYKE4\nDDR48\nYLR414C\nCWP1\nYMR315W\nPIR3\nYPS3\nYIL024C\nYGL157W\nSED1\nGAT1\nGRE3\nYGR146C\nOAZ1\nNQM1\nKTR2\nSPI1\nPCM1\nSTF2\nPPX1\nHMX1\nMDN1\nMSB3\nCAK1\nYCL049C\nSIP18\nPNS1\nFIR1\nSVS1\nGPG1\nDAN4\nYNL058C\nSYM1\nSBE22\nYET1\nRBK1\nCRH1\nALD4\nPGM2\nYDR262W\nKRE11\nMCH5\nGRE2\nNUP85\nECM4\nSOL4\nHOR2\nTMA10\nMSG5\nYJL171C\nYJR008W\nYML131W\nDFG5\nPNC1\nPRY2\nCIS3\nGDB1\nRCR1\nYOL019W\nORC6\nSWC7\nSPG5\nPET10\nATG8\nPEX27\nYKL161C\nICT1\nTFS1\nGOR1\nBGL2\nDOG2\nGFA1\nIAH1\nMSB4\nDCS2\nYJL160C\nTIR2\nSMF1\nBZZ1\nMSC1\nFYV8\nRGS2\nEXG1\nFAS2\nCIT1\nDUN1\nYHR097C\nYMR181C\nSOR1\nCHS7\nRCN2\nYEH1\nACA1\nYNL194C\nYML087C\nGTT1\nECM13\nYHR033W\nDOG1\nENT3\nTHI22\nMET28\nYKL151C\nATP22\nSOM1\nFRE2\nHXT1\nYSP3\nYPR1\nSOL1\nAGX1\nFMP48\nIML2\nMID2\nNCA3\nYDL114W\nYOL048C\nYNR065C\nSLU7\nPTP2\nYNL208W\nYKL121W\nVPS27\nHXK1\nMET16\nHSP32\nLSC2\nYMR090W\nSLD2\nYIL108W\nPRR1\nGIC2\nPRX1\nADD37\nCMK2\nYPL23HSP12\nYLR042C\nRFX1\nYPL088W\nYHL010C\nYHR087W\nCRG1\nDAL7\nHAL1\nSRL3\nGPD1\nPRM5\nPRM10\nPST1\nFMP33\nYLR194C\nCTT1\nSLT2\nYLR040C\nYKE4\nDDR48\nYLR414C\nCWP1\nYMR315W\nPIR3\nYPS3\nYIL024C\nYGL157W\nSED1\nGAT1\nGRE3\nYGR146C\nOAZ1\nNQM1\nKTR2\nSPI1\nPCM1\nSTF2\nPPX1\nHMX1\nMDN1\nMSB3\nCAK1\nYCL049C\nSIP18\nPNS1\nFIR1\nSVS1\nGPG1\nDAN4\nYNL058C\nSYM1\nSBE22\nYET1\nRBK1\nCRH1\nALD4\nPGM2\nYDR262W\nKRE11\nMCH5\nGRE2\nNUP85\nECM4\nSOL4\nHOR2\nTMA10\nMSG5\nYJL171C\nYJR008W\nYML131W\nDFG5\nPNC1\nPRY2\nCIS3\nGDB1\nRCR1\nYOL019W\nORC6\nSWC7\nSPG5\nPET10\nATG8\nPEX27\nYKL161C\nICT1\nTFS1\nGOR1\nBGL2\nDOG2\nGFA1\nIAH1\nMSB4\nDCS2\nYJL160C\nTIR2\nSMF1\nBZZ1\nMSC1\nFYV8\nRGS2\nEXG1\nFAS2\nCIT1\nDUN1\nYHR097C\nYMR181C\nSOR1\nCHS7\nRCN2\nYEH1\nACA1\nYNL194C\nYML087C\nGTT1\nECM13\nYHR033W\nDOG1\nENT3\nTHI22\nMET28\nYKL151C\nATP22\nSOM1\nFRE2\nHXT1\nYSP3\nYPR1\nSOL1\nAGX1\nFMP48\nIML2\nMID2\nNCA3\nYDL114W\nYOL048C\nYNR065C\nSLU7\nPTP2\nYNL208W\nYKL121W\nVPS27\nHXK1\nMET16\nHSP32\nLSC2\nYMR090W\nSLD2\nYIL108W\nPRR1\nGIC2\nPRX1\nADD37\nCMK2\nYPL230W"
    var down = "NIP7\nRAS1\nBRX1\nYIL064W\nNSR1\nTPN1\nFET3\nILV5\nDBP2\nLIA1\nPHO5\nFCY2\nOPT1\nPHO11\nZRT2\nSSU1\nMRH1\nSHM2\nAAH1\nATO3\nPHO3\nYHB1\nPHO12\nLAP4"
    $('#ids_up').attr('value',up);
    $('#ids_down').attr('value',down);
    $('#organism').attr('value',"Sce"); 
  }
  
  function organism_select(){
    organism = $('select#organism').val();
    $('select#platform option').not('#cross').remove();
    $(organisms[organism][1]).each(function(){
      $('select#platform').append('<option value="' + this + '" >' + this + '</option>')
    })
  }

  $(function(){
    $('select#organism').change(organism_select);
    organism_select();
    clear_textareas();

  })
