body {
  font-size: 14px;
  font-family: 'Lucida Grande',Arial,sans-serif;
  background-color: #e1e6fa;
  text-align: center;
  border: 0;
  padding: 0; }

#layout {
  text-align: left;
  background-color: white;
  width: 990px;
  margin: auto; }

#ie_warning {
  display: none;
  margin: auto;
  width: auto;
  text-align: center;
  background-color: #e1e6fa; }
  #ie_warning span {
    color: red; }

#header {
  position: relative;
  background-color: #183152;
  height: 50px;
  background-image: url('../images/top.png');
  background-repeat: no-repeat;
  width: 990px; }
  #header ul {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  #header li {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    width: auto;
    margin: 0;
    padding: 0 30px;
    background-color: #abc8e2;
    font-weight: bold;
    text-align: center; }
    #header li a {
      color: black;
      text-decoration: none; }
    #header li:hover {
      background-color: #596c85;
      color: #e2e2e7; }
      #header li:hover a:hover {
        color: white; }
    #header li.selected {
      background-color: white; }
      #header li.selected:hover {
        background-color: none;
        color: black; }
      #header li.selected a:hover {
        color: black; }

#content {
  margin: 0;
  padding: 10px 30px 10px 30px; }

#translate #input {
  display: inline-block;
  width: 400px; }
#translate #output {
  display: inline-block;
  margin-left: 100px;
  width: 400px; }

#main #index_video {
  display: none; }
#main #ad_video {
  float: right;
  color: gray;
  margin-bottom: 10px; }
#main #genes {
  width: 400px;
  display: inline-block;
  position: relative;
  float: left; }
#main #parameters {
  width: 400px;
  /* :margin-left= !main_middle_margin */
  display: inline-block;
  position: relative;
  float: right; }
#main #submit {
  text-align: center; }
#main #logos {
  clear: both; }
  #main #logos hr {
    color: #d9d9d9; }
  #main #logos a {
    text-decoration: none; }
    #main #logos a img {
      padding-left: 2%;
      padding-right: 2%;
      border: 0;
      margin: 0; }

.parambox {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px; }
  .parambox p {
    padding-top: 15px;
    text-align: justify; }

.textarea {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 189px; }
  .textarea h2.boxtitle {
    left: 10px; }

textarea {
  height: 189px;
  width: 100%; }

h2.boxtitle {
  background-color: white;
  position: absolute;
  top: -18px;
  left: -10px;
  margin: 0;
  font-size: 1.2em;
  /* :z-index 999 */ }

a.textarea_link {
  color: gray;
  position: absolute;
  background-color: white;
  top: -15px;
  right: 20px;
  /* :z-index 999 */ }
  a.textarea_link:visited, a.textarea_link:link {
    color: gray;
    text-decoration: none; }
  a.textarea_link:hover {
    color: red;
    text-decoration: none; }

a.toggle, a.ts, a.logratios {
  color: gray; }
  a.toggle:visited, a.toggle:link, a.ts:visited, a.ts:link, a.logratios:visited, a.logratios:link {
    color: gray;
    text-decoration: none; }
  a.toggle:hover, a.ts:hover, a.logratios:hover {
    color: red;
    text-decoration: none; }

#fill {
  margin-top: -40px;
  float: left; }

#results {
  width: auto;
  position: relative; }
  #results #table {
    display: inline-block;
    position: relative;
    width: 885px; }
  #results table {
    width: 805px; }
    #results table th.experiment, #results table td.experiment {
      width: 620px;
      border-left: none; }
    #results table th.score, #results table td.score {
      width: 50px; }
    #results table th.pvalue, #results table td.pvalue {
      width: 60px;
      border-right: none; }
    #results table th.select, #results table td.select {
      width: 75px;
      border-right: none;
      padding-right: 0; }
  #results td.pvalue.significant {
    font-weight: bold; }
  #results .hits:visited, #results .hits:link {
    color: blue;
    text-decoration: none; }
  #results .hits:hover {
    color: red;
    text-decoration: none; }

.toggle {
  color: gray;
  float: right;
  margin-left: 5px; }
  .toggle:visited, .toggle:link {
    color: gray;
    text-decoration: none; }
  .toggle:hover {
    color: red;
    text-decoration: none; }

.gds {
  display: inline-block;
  width: 372px;
  float: left;
  padding: 0;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  display: inline; }

.test {
  display: inline;
  width: 186px;
  float: right;
  padding: 0;
  margin: 0;
  padding-right: 3px; }

.condition {
  color: gray; }

.compare_select, .compare_invert {
  margin-left: 0; }

.info h3 {
  margin-bottom: 10px; }
.info span.dataset {
  font-size: small; }
.info p {
  width: 570px;
  margin-top: 10px;
  margin-bottom: 20px; }
.info .logratios, .info .ts {
  font-size: 0.8em; }
.info .hits {
  font-weight: bold; }
.info img {
  float: right;
  width: 553px;
  height: 10px;
  text-align: right;
  border: 1px solid; }

.exp_details {
  padding-top: 30px;
  text-align: justify; }

.annotation_types {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .annotation_types > li {
    width: auto; }
    .annotation_types > li .title {
      width: 90px;
      font-weight: bold;
      float: left; }
      .annotation_types > li .title span.bold {
        font-weight: bold;
        font-size: 12px; }

.annotations {
  list-style-type: none;
  margin: 10px;
  margin-left: 100px;
  padding: 0; }
  .annotations li {
    display: inline-block;
    margin-left: 15px;
    border-bottom: 1px solid;
    cursor: pointer; }
    .annotations li:hover {
      background-color: #abc8e2; }

.word.click {
  cursor: pointer; }
  .word.click:hover {
    background-color: #abc8e2; }

#annotations_menu_link {
  float: right;
  margin-right: 25px; }

#compare_link {
  float: right; }

#reset {
  float: right;
  margin-top: 5px;
  margin-right: 25px; }

#annotations_menu {
  width: 270px;
  padding: 5px;
  background: white;
  border: 1px solid black;
  position: absolute;
  top: 50px;
  right: 10px; }
  #annotations_menu #enrichment_table_div {
    overflow-y: auto;
    overflow-x: hidden;
    display: none; }
  #annotations_menu #enrichment_table {
    margin-top: 5px;
    table-layout: auto;
    width: 100%; }
  #annotations_menu td.term {
    cursor: pointer; }
    #annotations_menu td.term:hover {
      background-color: #abc8e2; }

#annotations_select {
  font-size: 0.8em;
  width: 212px; }

#annotations_title {
  text-align: center;
  margin: 3px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #e2e2e7;
  background-color: #183152; }

a#close_annotations_menu {
  position: absolute;
  top: 6px;
  right: 2px;
  text-decoration: none;
  color: #183152;
  font-weight: bold;
  font-size: 0.8em; }

#hits {
  width: auto;
  position: relative; }
  #hits #genes_hits {
    position: relative;
    display: inline-block;
    width: 850px; }
  #hits table {
    width: 770px; }
    #hits table th, #hits table td {
      font-size: 11px; }
      #hits table th.name, #hits table td.name {
        width: 100px;
        border-left: none; }
      #hits table th.synonyms, #hits table td.synonyms {
        width: 620px; }
      #hits table th.hit, #hits table td.hit {
        width: 50px;
        border-right: none; }
  #hits .menu_links a.selected_genes {
    float: left;
    margin-left: 0px; }
  #hits .menu_links a.logratios_hits {
    float: left; }
  #hits .menu_links a.ts_hits {
    float: left; }

#compare {
  width: auto;
  position: relative; }
  #compare #genes_compare {
    position: relative;
    display: inline-block;
    width: 880px; }
  #compare table {
    width: 800px; }
    #compare table th.name, #compare table td.name {
      width: 100px;
      border-left: none; }
    #compare table th.synonyms, #compare table td.synonyms {
      width: 630px; }
    #compare table th.pvalue, #compare table td.pvalue {
      width: 70px;
      border-right: none; }
  #compare a.selected {
    background-color: white; }
    #compare a.selected:hover {
      color: black; }
  #compare .menu_links a {
    float: left; }

#help, #methods, #supplementary, #quick {
  width: 700px;
  margin: auto; }
  #help p, #methods p, #supplementary p, #quick p {
    text-align: justify; }
  #help .menu a, #methods .menu a, #supplementary .menu a, #quick .menu a {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #abc8e2;
    padding: 1px 4px 1px 4px; }
    #help .menu a:hover, #methods .menu a:hover, #supplementary .menu a:hover, #quick .menu a:hover {
      background-color: #e2e2e7;
      color: #596c85; }
    #help .menu a.selected, #methods .menu a.selected, #supplementary .menu a.selected, #quick .menu a.selected {
      background-color: white; }
      #help .menu a.selected:hover, #methods .menu a.selected:hover, #supplementary .menu a.selected:hover, #quick .menu a.selected:hover {
        color: black; }

#video {
  display: none;
  padding: 0;
  border: 0;
  margin: 0; }

#quick img {
  width: auto;
  border: 2px solid;
  padding: 5px;
  max-width: 700px; }
#quick .toggle_example {
  color: gray; }
  #quick .toggle_example:visited, #quick .toggle_example:link {
    color: gray;
    text-decoration: none; }
  #quick .toggle_example:hover {
    color: red;
    text-decoration: none; }

#supplementary img, #methods img {
  height: 1.2em;
  vertical-align: middle; }
  #supplementary img.large, #methods img.large {
    height: 3em; }
  #supplementary img.plot, #methods img.plot {
    height: 100%;
    margin: auto; }

/* GENERAL STYLES */
table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 11px; }
  table th {
    margin: 0px;
    padding: 5px 8px 5px 8px;
    text-align: center;
    border: 1px solid white;
    color: white;
    background-color: #183152;
    text-align: center; }
  table td {
    padding: 8px;
    border: solid 1px black;
    color: #183152; }

tr.marked td {
  background-color: #e1e6fa; }
  tr.marked td.name {
    font-weight: bold; }

.table_scroller {
  overflow: auto;
  border-bottom: solid 1px; }

#canvas {
  float: left;
  position: relative;
  width: 30px;
  border: solid 2px #596c85;
  cursor: pointer; }

h2#title {
  margin: 0 0 5px 0;
  width: auto; }

a.job:visited, a.job:link {
  color: blue;
  text-decoration: none; }
a.job:hover {
  color: red;
  text-decoration: none; }

a.profile {
  float: right;
  display: inline;
  font-size: 0.7em; }

a.geneurl {
  float: left;
  display: inline; }
  a.geneurl:visited, a.geneurl:link {
    color: blue;
    text-decoration: none; }
  a.geneurl:hover {
    color: red;
    text-decoration: none; }

.menu_links {
  position: relative; }
  .menu_links .button {
    margin: 2px 5px; }

.jobname {
  color: #abc8e2; }

#status {
  font-style: italic;
  color: gray;
  font-size: 0.8em; }

.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  background-color: #abc8e2;
  padding: 1px 4px 1px 4px; }
  .button:hover {
    background-color: #e2e2e7;
    color: #596c85; }

.clear_floats {
  clear: both; }
