.menu 
  %a{:href => '/help', :class => (selected == 'main' ? 'selected': '')} Overview
  %a{:href => '/help/methods', :class => (selected == 'meth' ? 'selected': '')} Methods
  %a{:href => '/help/webservice', :class => (selected == 'webservice' ? 'selected': '')} Webservice
  %a{:href => 'http://github.com/mikisvaz/rbbt-marq'} Source code
  %a{:href => '/help/quick', :class => (selected == 'quick' ? 'selected': '')} Quick start guide!
