:javascript
  current = 'help'

#webservice
  
  = partial 'menu', :selected => 'quick'

  :redcloth
    
    h1. Web Server Access

    The core funtionalities in MARQ can be accessed through a web server interface. This is the
    "WSDL file":/MARQWS.wsdl

   
 
